{% extends 'base.html.twig' %}

{% block title "Abbott Application" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h1>WebApp for Abbott</h1>
{% endblock %}

{% block script %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}