{% extends 'base.html.twig' %}

{% block title "Abbott Application" %}

{% block stylesheets %}
    <link href="https://bootswatch.com/4/litera/bootstrap.min.css" rel="stylesheet"/>
    
    {{ encore_entry_link_tags('app') }}
    {# <link rel="stylesheet" href="/build/app.css"> #}
{% endblock %}

{% block body %}
    <div id="app">
    <h1>ceci est un test</h1>
    </div>
{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('app') }}
   
{% endblock %}